In [34]:
import pandas as pd
import numpy as np
import scipy.stats as st

## One tailed t-test

In [ ]:
#H0: average time new machine is equal to old machine
#H1: average time new machine is lower than then to old machine

In [37]:
data = pd.read_csv('machines.csv',sep=";")
data

   new_machine  old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [35]:
round(np.mean(data['old_machine']),2)

43.23

In [36]:
st.ttest_1samp(data['new_machine'],43.23)

Ttest_1sampResult(statistic=-5.043318535038297, pvalue=0.0006966376076759338)

In [39]:
print('p value (single tailed): ',st.ttest_1samp(data['new_machine'],43.23)[1]/2)

p value (single tailed):  0.0003483188038379669

The result of the one sample T test shows us that H0 can be rejected. So we cannot say that the new machine has the same average speed as the old machine. The statistic value shows a negative number, which indicates that the average value of the new_machine is lower than the old_machine

## Matched Pairs Test

In [40]:
pokemon = pd.read_csv('pokemon.csv')
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [ ]:
#H0: defence and attack scores are equal
#H1: defence and attack score are NOT equal

In [42]:
st.ttest_rel(pokemon['Defense'], pokemon['Attack'])

Ttest_relResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

The above p-vale is below 0.05 so that means H0 must go, indicating there is no evidence that defence and attack scores are equal.

## ANOVA

### Part 1

In [ ]:
# H0: mean etching rate is equal for different levels of power
# H1: mean etching rate is different for different levels of power

In [ ]:
# Significance level is 0.05, which means if we find a p-value lower than 0.05 we can say that the differences between the means are significant (so they are not coincidental).

#The degrees of freedom between groups in k-1, which is equal to number of groups (3) - 1, so 2
# I think this is the degrees of freedom of the model

#The degrees of freedom within groups is equal to N - k, or the total number of observations (15) minus the number of groups (3)
# So Total DoF is 12

### Part 2

In [48]:
micro = pd.read_excel('anova_lab_data.xlsx')
micro

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [54]:
micro['power_rate'] = micro.groupby('Power ').cumcount() ##is the new index 

micro_pivot = micro.pivot(index='power_rate', columns='Power ', values='Etching Rate')
micro_pivot.columns = ['Power_'+str(x) for x in micro_pivot.columns.values]
micro_pivot.head()

            Power_160 W  Power_180 W  Power_200 W
power_rate
0                  5.43         6.24         8.79
1                  5.71         6.71         9.20
2                  6.22         5.98         7.90
3                  6.01         5.66         8.15
4                  5.59         6.60         7.55

In [55]:
st.f_oneway(micro_pivot['Power_160 W'],micro_pivot['Power_180 W'],micro_pivot['Power_200 W'])

F_onewayResult(statistic=36.87895470100505, pvalue=7.506584272358903e-06)

This p-value is lower than 0.05. Which means H0 must go, showing us that the mean Etching Rate is not equal for different levels of power